In [1]:
# --- Block 1: Import Libraries & Load Dataset ---
import pandas as pd
import matplotlib.pyplot as plt

# Load dataset

df = pd.read_csv('retailsales.csv')

print("Dataset Info:\n")
print(df.info())
df.head()

Dataset Info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99457 entries, 0 to 99456
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_no      99457 non-null  object
 1   customer_id     99457 non-null  object
 2   gender          99457 non-null  object
 3   age             99457 non-null  int64
 4   category        99457 non-null  object
 5   quantity        99457 non-null  int64
 6   price           99457 non-null  float64
 7   payment_method  99457 non-null  object
 8   invoice_date    99457 non-null  object
 9   shopping_mall   99457 non-null  object
dtypes: float64(1), int64(2), object(7)
memory usage: 7.6+ MB
None

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,invoice_date,shopping_mall
0,I138884,C241288,Female,28,Clothing,5,1500.40,Credit Card,5/8/2022,Kanyon
1,I317333,C111565,Male,21,Shoes,3,1800.51,Debit Card,12/12/2021,Forum Istanbul
2,I127801,C266599,Male,20,Clothing,1,300.08,Cash,9/11/2021,Metrocity
3,I173702,C988172,Female,66,Shoes,5,3000.85,Credit Card,16/05/2021,Metropol AVM
4,I337046,C189076,Female,53,Books,4,60.60,Cash,24/10/2021,Kanyon

In [3]:
# --- Block 2: Explore Dataset ---

print("\nMissing Values:")
print(df.isnull().sum())

print("\nUnique Shopping Malls (Regions):")
print(df['shopping_mall'].unique())

# Convert invoice_date to datetime
df['invoice_date'] = pd.to_datetime(df['invoice_date'], errors='coerce')

# Create a new column for total sales (quantity * price)
df['total_sales'] = df['quantity'] * df['price']

df.describe()

Missing Values:
invoice_no        0
customer_id       0
gender            0
age               0
category          0
quantity          0
price             0
payment_method    0
invoice_date      0
shopping_mall     0
dtype: int64

Unique Shopping Malls (Regions):
['Kanyon' 'Forum Istanbul' 'Metrocity' 'Metropol AVM' 'Istinye Park'
 'Mall of Istanbul' 'Emaar Square Mall' 'Cevahir AVM' 'Viaport Outlet'
 'Zorlu Center']

,age,quantity,price,invoice_date,total_sales
count,99457.000000,99457.000000,99457.000000,40029,99457.000000
mean,43.427089,3.003429,689.256321,2022-02-14 07:51:24.134002688,2528.789268
min,18.000000,1.000000,5.230000,2021-01-01 00:00:00,5.230000
25%,30.000000,2.000000,45.450000,2021-07-09 00:00:00,136.350000
50%,43.000000,3.000000,203.300000,2022-02-06 00:00:00,600.170000
75%,56.000000,4.000000,1200.320000,2022-09-02 00:00:00,2700.720000
max,69.000000,5.000000,5250.000000,2023-12-02 00:00:00,26250.000000
std,14.990054,1.413025,941.184567,NaN,4222.475781

In [5]:
# --- Block 3: Identify Variables for Aggregation ---

region_col = 'shopping_mall'
sales_col = 'total_sales'
category_col = 'category'

print(f"Selected columns for aggregation: {region_col}, {sales_col}, {category_col}")

Selected columns for aggregation: shopping_mall, total_sales, category